services:
#----- DB ----------------------------------------
  db:
    image: postgres:17.5-alpine3.21
    container_name: postgres
    restart: always
    ports:
      - '5432:5432'
    networks:
      - challenge-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: challenge_db

#----- RABBIT MQ ----------------------------------
  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: rabbitmq
    restart: always
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - challenge-network
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - 'rabbitmq_data:/var/lib/rabbitmq'

#----- API GATEWAY ---------------------------------
  api-gateway:
    container_name: api-gateway
    build:
      context: .
      dockerfile: ./apps/api-gateway/Dockerfile
      target: development
    ports:
      - '3001:3001'
    volumes:
      - .:/app
      - ./packages:/app/packages
      - /app/node_modules
      - /app/apps/api-gateway/node_modules
    env_file:
      - ./apps/api-gateway/.env
    environment:
      - NODE_ENV=development
      - PORT=3001
      - AUTH_SERVICE_API_URL=http://auth-service:3002
      - TASKS_SERVICE_API_URL=http://tasks-service:3003
    depends_on:
      db:
        condition: service_started
      # rabbitmq:
      #   condition: service_started
    networks:
      - challenge-network

#----- AUTH SERVICE ---------------------------------
  auth-service:
    container_name: auth-service
    build:
      context: .
      dockerfile: ./apps/auth-service/Dockerfile
      target: development
    ports:
      - '3002:3002'
    volumes:
      - .:/app
      - ./packages:/app/packages
      - /app/node_modules
      - /app/apps/auth-service/node_modules
    env_file:
      - ./apps/auth-service/.env
    environment:
      - NODE_ENV=development
      - PORT=3002
      - DB_HOST=db
    depends_on:
      db:
        condition: service_started
      # rabbitmq:
      #   condition: service_started
    networks:
      - challenge-network

volumes:
  postgres_data:
    driver: local
  rabbitmq_data:
    driver: local

networks:
  challenge-network:
    driver: bridge
